@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Oswald:wght@200&display=swap);

:root {
  --text-color: #F8F3F1;
}

.App {
  text-align: center;
  padding: 2% 5%;
  background:
    linear-gradient(-30deg, rgb(77, 187, 201), rgba(221, 81, 177, 0.8), rgba(245, 123, 36, 0.8));
  color: var(--text-color);
  font-family: "Nunito", sans-serif;
}

.App * {
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

h1 {
  font-size: 3em;
  margin-bottom: 20px;
  margin-top: 0;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: lighter;
}

h3 {
  font-size: 1.3em;
  margin-top: 0;
  margin-bottom: 10px;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  font-size: 1.2em;
  margin: 5px 0;
}

.alerts-container {
  position: fixed;
  top: 0;
  left: 20px;
  width: 250px;
  z-index: 1000;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  outline: none;
  color: var(--text-color);
  font-size: 16px;
  line-height: 20px;
  align-self: center;
  height: 38px;
  background: rgba(198, 197, 197, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.68);
}

.city {
  width: 250px;
  font-family: "Nunito", sans-serif;
  text-align: center;
  color: var(--text-color);
}

#city-search {
  position: relative;
}

.city::placeholder {
  color: var(--text-color);
}

.suggestions {
  width: 250px;
  top: 45px;
  z-index: 2;
  align-self: center;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
  background: rgba(198, 197, 197, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.68);
}

.suggestions>li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  font-size: 16px;
  cursor: default;
  border-radius: 16px;
}

.suggestions>li:hover {
  background-color: rgba(180, 179, 179, 0.3);
}

#number-of-events {
  margin-top: 15px;
}

.number-of-events {
  width: 250px;
  text-align: center;
  font-family: "Nunito", sans-serif;
}

.accordion {
  cursor: pointer;
  transition: 0.3s ease;
  max-width: 80%;
  padding: 0;
  margin-bottom: 10px;
  position: relative;
  margin: 15px auto;
  background: rgba(198, 197, 197, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.68);
}

.chart-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* background: rgba(198, 197, 197, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.68); */
  margin-top: 20px;
}

.event-item {
  padding: 20px 20px 35px;
  margin-bottom: 10px;
  text-align: left;
  position: relative;
  max-width: 80%;
  margin: 15px auto;
  background: rgba(198, 197, 197, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.68);
}

.date-location-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: right;
  color: var(--text-color);
  font-weight: bolder;
}

.event-title {
  font-size: 2.7em;
  color: var(--text-color);
  margin-top: 15px;
  font-family: "Oswald", sans-serif;
  font-weight: lighter;
}

.event-details {
  padding-bottom: 30px;
}

.details-btn {
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 8px 12px;
  outline: none;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  color: var(--text-color);
  font-size: 14px;
  background: rgba(199, 198, 198, 0.15);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.68);
}

@media (max-width: 850px) {
  .chart-container {
    grid-template-columns: 1fr;
  }
}